<div class="px-8 mt-3">
    <h1 class="mb-4 text-xl font-bold text-gray-700">Post Info</h1>
    <div class="bg-white max-w-sm px-6 py-4 mx-auto rounded-lg shadow-md">
        <div class="space-y-4">
            <div class="block w-full">
                <div class="widget w-full p-4 rounded-lg bg-white border border-gray-100 dark:bg-gray-900 dark:border-gray-800">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-col">
                            <div class="text-xs uppercase font-light text-gray-500">
                                Price
                            </div>
                            <div class="text-xl font-bold">
                                {{price}} DH
                            </div>
                        </div>
                        <fa-icon [icon]="faDollarSign" class="text-gray-500"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="block w-full">
                <div class="widget w-full p-4 rounded-lg bg-white border border-gray-100 dark:bg-gray-900 dark:border-gray-800">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-col">
                            <div class="text-xs uppercase font-light text-gray-500">
                                Time
                            </div>
                            <div class="text-xl font-bold">
                                {{time}} Days
                            </div>
                        </div>
                        <fa-icon [icon]="faClock" class="text-gray-500"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="block w-full">
                <div class="widget w-full p-4 rounded-lg bg-white border border-gray-100 dark:bg-gray-900 dark:border-gray-800">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-col">
                            <div class="text-xs uppercase font-light text-gray-500">
                                Propositions
                            </div>
                            <div class="text-xl font-bold">
                                {{propositions}}
                            </div>
                        </div>
                        <fa-icon [icon]="faUsers" class="text-gray-500"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>