<app-header></app-header>

<div class="container mx-auto flex flex-wrap py-6">

    <!-- Post Section -->
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">

        <article class="flex flex-col shadow my-4">
            <!-- Article Image -->
            <a href="#" class="hover:opacity-75">
                <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=1">
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{post.tag}}</a>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{post.title}}</a>
                <p href="#" class="text-sm pb-8">
                    By <a href="#" class="font-semibold hover:text-gray-800">{{post.author}}</a>, Published on {{post.date | date:'dd MMM yyyy'}}
                </p>
                <h1 class="text-2xl font-bold pb-3">Description</h1>
                <p class="pb-3">{{post.content}}</p>
            </div>
        </article>

        <!-- <div class="w-full flex flex-col text-center md:text-left md:flex-row shadow bg-white mt-10 mb-10">
            <div class="editor w-full flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg">
                <label class="title border-gray-300 p-2 mb-4 outline-none text-center">Add Proposition</label>
                <input class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Number of days" type="number">
                <input class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Price" type="number">
                <textarea class="description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none" spellcheck="false" placeholder="Describe your proposition"></textarea>
                
                <div class="icons flex text-gray-500 m-2">
                  <div class="count ml-auto text-gray-400 text-xs font-semibold">0/300</div>
                </div>
                <div class="buttons flex">
                  <div class="btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-auto bg-indigo-500">Post</div>
                </div>
              </div>
        </div> -->

        <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://influenceme.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </section>

    <!-- Sidebar Section -->
    <aside class="-mx-8 w-4/12 hidden lg:block ml-5">

        <app-author [author]='post.author' [userId]='post.userId'></app-author>

        <app-postinfo [price]='post.price' [time]='post.time' [propositions]='post.propositions'></app-postinfo>

    </aside>

</div>

<app-footer></app-footer>