<app-header></app-header>
<div class="bg-gray-100 overflow-x-hidden">
    <div class="px-6 py-8">
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex items-center justify-between">
                    <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Posts</h1>
                </div>
                <div *ngFor="let post of posts">
                    <app-post [id]="post.id" [tag]="post.tag" [title]="post.title" [date]="post.date" [content]="post.content" [author]="post.author" [avatar]="post.avatar"></app-post>
                </div>
            </div>
            <!-- <div class="-mx-8 w-4/12 hidden lg:block">
                <app-influencers></app-influencers>
                <app-categories></app-categories>
                <app-featuredpost></app-featuredpost>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>